name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.pull_request.head.sha || github.sha }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: 'latest'
    - name: Install dependencies
      run: npm ci
    - name: Test Server
      run: npm test --workspace=apps/server
    - name: Test Frontend
      run: npm test --workspace=apps/frontend
